$font-stack: Helvetica, Arial;

$text-color: rgb(20, 20, 20);
$header-color: #c96868;
$background-color: #7eacb5;
$navbar-color: #fff4ea;
$hover-color: #ffeedd;
$content-color: #fadfa1;
$elements-color: #ffffff;
