<template id="card-assessments">
  <style>
    .container {
      display: none;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .show-button {
      width: 8rem;
      padding: 0.8rem;
      border-radius: 1rem;
      border: 1px solid #000000;
      cursor: pointer;
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .assessments {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      padding: 0 5rem;
    }

    .assessment {
      width: 33%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      text-align: justify;
      border-radius: 1rem;
      margin: 1.5rem;
      padding: 0 2rem;
    }
  </style>
  <div id="container" class="container">
    <h3 id="title">Valoraciones</h3>
    <div id="assessments" class="assessments"></div>
  </div>
</template>
