html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  height: 100vh;
}

p {
  color: white;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: blue;
}
.left {
  grid-area: left;
  background-color: limegreen;
}
.right {
  grid-area: right;
  background-color: lightblue;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "header header header"
    "left left right";
  gap: 1rem;
  padding: 1%;
  height: 96%;
}
