@import "_reset.scss";

body {
  $font-stack: list.append($font-stack, sans-serif);
  font: $font-stack;
  font: {
    size: 1.2rem;
  }
  height: 100vh;
  background: {
    color: $background-color;
  }
  color: $text-color;
}
