@use "sass:color";

$font-stack: Helvetica, Arial;

$text-color: rgb(20, 20, 20);
$background-color: #7eacb5;
$header-color: #c96868;
$footer-color: #c96868;
$navbar-color: #fff4ea;
$navbar-hover-color: #ffeedd;
$card-color: #fff4ea;
$button-color: #7eacb5;
$button-hover-color: #7d9bbd;
